* {
  margin: 0;
  padding: 0;
} 

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  z-index: -3;
  overflow-y: hidden;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

.logo {
  position: absolute;
  z-index: 1;
}

.logo_place_header {
  position: absolute;
  margin-top: 30px;
  margin-left: 64px;
  align-content: 0;
  padding: 0;
  width: 228px;
  height: 32px;
  z-index: 0;
}

.header__title {
  align-self: center;
  margin-left: 64px;
  width: 730px;
  font-size: 102px;
  z-index: 1;
  line-height: 96px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  padding: 0px;
  margin: 0px;
  left: 64px;
  bottom: 30px;
  width: 388px;
  z-index: 1;
  color: black;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration-line: none;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.header__main-illustration {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 608px;
  width: 765px;
  background-color: none;
  z-index: -1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0px;
  height: 568px;
  width: 568px;
  background-color:#2f80ed;
  z-index: -2;
  overflow-y: hidden;
}

.two_colums {
  padding: 0;
  display: flex;
  position: relative;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 100px;
  width: 80%;
}

.two_colums__brief{
  width: 175px;
  margin: 0;
  padding: 0;
  left: 0;
  text-align: left;
  color:  #2f80ed;
  line-height: 1,2;
  font-size: 18px;
  font-weight: normal;
}

.two_colums__main-text {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  right: 0;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two_colums__paragraph:nth-of-type(2n) {
 margin-top: 30px;
 margin-bottom: 30px;
}

.two_colums__span-accent {
  font-weight: bold;
  font-weight: 600;
}

.section-title {
  margin: auto;
  width: 60%;
  margin-top: 100px;
  text-align: center;
  line-height: 1,15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  margin: auto;
  width: 60%;
  margin-top: 20px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
 display: flex;
 position: relative;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: baseline;
 margin: auto;
 width: 1100px;
 margin-bottom: 100px;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
  top: 60px;
}

.table__heading {
  margin-bottom: 20px;
  line-height: 1,15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1,2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:nth-of-type(2n) {
  margin-top: 20px;
}

.feynman {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: -3;
  height: 890px;
  background-color: #f2f2f2;
}

.feynman__title {
  align-self: center;
  margin-bottom: 70px;
  margin-top: 100px;
  text-align: center;
  width: 648px;
  line-height: 1,15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  align-self: center;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration-line: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__img {
  position: absolute;
  z-index: -2;
  width: 867px;
  height: 637px;
  left: 0px;
  bottom: 0px;
}

.kaufman {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  overflow: hidden;
  z-index: -3;
  background-color:#1f1f1f;
  color: white;
}
.section-title_theme_dark {
  margin: auto;
  width: 60%;
  margin-top: 90px;
  text-align: center;
  line-height: 1,15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle_theme_dark {
  margin: auto;
  width: 60%;
  margin-top: 20px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table_theme_dark {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-right: auto;
  margin-left: auto;
  width: 1100px;
  margin-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  margin-bottom: 20px;
  line-height: 1,15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  line-height: 1,2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  position: absolute;
  top: 0px;
  right: -270px;
  z-index: -3;
  width: 877px;
  height: 877px;
}

.footer {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: -3;
  background-color:#1f1f1f;
  color: white;
  width: 100%;
  min-height: 350px;
  padding-top: 60px;
  padding-right: 0px;
  margin: 0px;
}

.footer__colums {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.footer__colum_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  position: relative;
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.logo_place_footer {
  display: flex;
  width: 228px;
  height: 32px;
}

.footer__column_content_info {
  display: flex;
  position: relative;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  position: relative;
  flex-direction: column;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;

}

.footer__column-links {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 18px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}