.khan__buy-link {
  color: #2f80ed;
  text-decoration-line: none;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  z-index: 2;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__buy-link:hover {
  opacity: 70%;
  transition: opacity 0.5s linear 0.5s;
}
